<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>GitHub Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="row">
  <div class="col-xs-6 col-xs-offset-6">
    <form action="/" method="POST">
      <div class="input-group">
        <input type="text" name="username" class="form-control"
                placeholder="Enter a GitHub Username">
        <span class="input-group-btn">
          <button class="btn btn-success"
            type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>  


<hr>
<!-- this gives object object-->  
<div class="row col-xs-8 col-xs-offset-2">
    <% if (userData) { %>
      <%= userData %>
    <% } else { %>
      <h3 class="text-center text-info">
      Hi dev, no user data detected
      </h3>
    <% } %>
  </div>


<!-- this gives avatar url-->  
  <div class="row col-xs-8 col-xs-offset-2">
    <% if (userData) { %>
      <img src="<%= userData.avatar_url %>">
    <% } else { %>            
      no avatar found
    <% } %>
  </div>


<!-- this gives -->  
  <div class="row col-xs-8 col-xs-offset-2">
    <% if (userData) { %>
      <% userData.repos.forEach(function(repo) { %>
        <a href="<%= repo.html_url %>"><%= repo.name %></a>
      <% }) %> 
      <% } else { %> 
      no repo name found

    <% } %>
  </div>




  </body>
</html>
